<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rainyseason.cj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name=".CJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoJet"
        tools:ignore="AllowBackup,MediaCapabilities">
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="@bool/firebase_performance_logcat_enabled" />

        <receiver
            android:name=".widget.watch.WatchWidget4x2Provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.watchlist.click" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_watch_4x2_info" />
        </receiver>

        <receiver
            android:name=".widget.watch.WatchWidget4x4Provider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.watchlist.click" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_watch_4x4_info" />
        </receiver>

        <activity
            android:name=".widget.watch.WatchSettingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name="com.rainyseason.cj.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rainyseason.cj.DrawSampleActivity"
            android:exported="true" />

        <activity
            android:name=".featureflag.DebugFlagSetter"
            android:exported="true" />

        <receiver
            android:name=".ticker.CoinTickerProviderGraph"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_graph" />
        </receiver>

        <receiver
            android:name=".ticker.CoinTickerProviderMini"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_mini" />
        </receiver>

        <receiver
            android:name=".ticker.CoinTickerProviderNano"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_nano" />
        </receiver>

        <receiver
            android:name=".ticker.CoinTickerProviderDefault"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_default" />
        </receiver>

        <receiver
            android:name=".ticker.CoinTickerProviderCoin360"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_coin360" />
        </receiver>

        <receiver
            android:name=".ticker.CoinTickerProviderCoin360Mini"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.rainyseason.cj.widget.cointicker.switch" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ticker_widget_info_coin360_mini" />
        </receiver>

        <receiver
            android:name=".RefreshReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ticker.CoinTickerSettingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                tools:node="remove" />
        </provider>
    </application>

</manifest>